    <h1>Job Details</h1>
    <%= @job.job_desc %><br>
    <%= @job.origin %><br>
    <%= @job.destination %><br>
    <%= @job.cost %><br>
    <%= @job.cont_needed %><br>


    <h1> Add Ships: </h1>
    <%= form_for :ship_job, url: {action: "create", controller: "shipjobs"} do |f|%>
        <%= f.label :ship_id, "Select A Ship" %><br />
        <%= f.select :ship_id, options_from_collection_for_select(@user.ships, "id", "name")%>
        <%= hidden_field_tag "job_id", @job.id%><br>
        <%= f.submit "Add Ship", class: "shipSubmit"%><br>
    <% end %>