<% if user_signed_in? %>
        <div id="jobCreateContent">
            <h1 id="jobCreateHead"> Make a Job </h1>
            <%= form_for @job do |f|%>
                <div class="dropdownField">
                    <%= f.label :origin %><br />
                    <%= f.select :origin, options_for_select(['Earth', 'Omicron Persei 8', 'Giant Garbage Ball', 'Earth C-137', 'Poopiter', 'The Moon', 'Wormulon', 'Amish Homeworld', 'Ebola 9', 'Neutral Planet'])%>
                </div>
                <div class="dropdownField">
                    <%= f.label :destination %><br />
                    <%= f.select :destination, options_for_select(['Earth', 'Omicron Persei 8', 'Giant Garbage Ball', 'Earth C-137', 'Poopiter', 'The Moon', 'Wormulon', 'Amish Homeworld', 'Ebola 9', 'Neutral Planet'])%>
                </div>
                <div class="field">
                    <%= f.label :job_desc, "Job Description (200 character max)", class: "jobBodyLabel"%><br>
                    <%= f.text_area :job_desc, cols: 50, rows: 5, maxlength: 200, class: "jobBodyInput"%><br>
                </div>
                <div class="field">
                    <%= f.label :cost, "Job Cost", class: "newJobLabel"%><br>
                    <%= f.text_field :cost, class: "newJobInput"%>
                </div>
                <div class="field">
                    <%= f.label :cont_needed, "Containers Needed", class: "newjobLabel"%><br>
                    <%= f.text_field :cost, class: "newjobInput"%>
                </div>


                <%= f.submit "Create Job", class:"jobSubmit"%>
            <% end %>
        </div>
<% end %>
