<%if @current_user%>
        <div id="shipCreateContent">
            <h1 id="shipCreateHead"> Get Ship Done </h1>
            <%= form_tag('/create-ship', method: 'post') do%>
                <div class="field">
                    <%= f.label :name%>
                    <%= f.select :name, []%>
                </div>

                <div class="dropdownField">
                    <%= f.label :location %><br />
                    <%= f.select :location, ['Earth', 'Omicron Persei 8', 'Giant Garbage Ball', 'Earth C-137', 'Poopiter', 'The Moon']%>
                </div>

                <div class="field">
                    <%= f.label :capacity%>
                    <%= f.text_field :capacity%>
                </div>


                <%= submit_tag("Create Ship", :class=>"shipSubmit")%>
            <% end %>
        </div>
    <% end %>